html,
body {
  padding: 0;
  font-family: sans-serif;
}

#controls {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

#bubble-chart {
  position: relative;
  justify-self: center;
  justify-content: center;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

span:nth-child(2) {
  margin-left: 20px;
}

#country-info {
  color: #666;
  font-size: 28px;
  position: absolute;
  top: 60px;
  left: 40px;
}

svg {
  border: 1px solid #ddd;
}

circle {
  stroke: white;
  stroke-width: 1.5;
}

.continent-key-element text {
  fill: white;
}
